<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>

  <h1 style="text-align: center;"> ~ : Update Form : ~</h1>
  <form action="/updatedata" method="post">
    
    <input type="number" name="id" placeholder="Enter the id" value="<%= data.id %>">&nbsp;&nbsp;<input type="text" name="name" placeholder="Enter name" value="<%= data.name %>"> <input type="submit">
    
  </form>
  
</body>
</html>